@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-main: #F78a8c;
  --color-brand-accent1: #f48ab7;
  --color-brand-accent2: #da7bb4;
  --color-brand-accent3: #C871C4;
  --color-brand-bg: #f6f6f6;
  --color-brand-text: #4a4a4a;
  --color-brand-button: #00f0ff;
  
  --background-image-brand-gradient: linear-gradient(135deg, #F78a8c 0%, #f48ab7 33%, #da7bb4 66%, #C871C4 100%);
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-text font-sans;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-brand-gradient bg-clip-text text-transparent;
  }
  
  .bg-brand-gradient {
    background-image: var(--background-image-brand-gradient);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
